html, body {
    /* background-color: yellowgreen; */
    font-family: 'Encode Sans Semi Condensed', sans-serif;
    color: brown;
}

.container {
    width: 40%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
}

.author {
    font-size: 4em;
    margin-bottom: .5em;
    margin-top: .5em;

}

#author_img{
    width: 10em;
}

.social_links{
    margin-top: 1em;
}

.img-circle{
    border-radius: 70%;
}
